.button--textToSpeech {
  background: transparent;
  border: none;
  max-width: 40px;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.2s;
}

.container--textToSpeech {
  position: relative;
}

:global(.vtex-product-summary-2-x-element) .container--textToSpeech {
  opacity: 0;
  transition: opacity 300ms;
}

:global(.vtex-product-summary-2-x-element):hover .container--textToSpeech {
  opacity: 1;
}

.active{
  border-color: green;
  background: lightgray;
}

.button--textToSpeech:hover {
  background: lightgray;
}

.button--textToSpeech.active:hover {
  border-color: black;
}